$desertStorm: #efe6dd;
$lightBrown: #e3d3bb;
$lightOrange: #d4b195;
$lightRed: #b07875;
$lightGreen: #698079;
$lightBlack: #4e4e4e;
$transition: 300ms linear;
$bgColor: #fff8f8;
$bgGradient: linear-gradient(
  rgba(239, 230, 221, 0.9),
  rgba(239, 230, 221, 0.9)
);
$mapOpacity: rgba(105, 128, 121, 0.9);
