body {
  font-family: 'Montserrat', sans-serif;
  color: $lightBlack;
}

.link {
  text-decoration: none;
}

.list {
  list-style-type: none;
}

.btn {
  border: transparent;
  border-radius: 24px;
}
