/* ---------------------------------- team ---------------------------------- */
.carousel-2 .owl-nav .owl-prev,
.carousel-2 .owl-nav .owl-next {
  position: absolute;
  cursor: pointer;
  font-size: 60px !important;
  color: #fff !important;
  top: 0;
  height: 100%;
  width: 70px;
  transition: opacity $transition;
  opacity: 0.6;
  margin: 0;
  padding: 0;
  display: none;
  @include desktop {
    display: block;
  }
}
.carousel-2 .owl-nav .owl-prev:hover,
.carousel-2 .owl-nav .owl-next:hover {
  background-color: transparent;
  opacity: 0.3;
}
.carousel-2 .owl-nav .owl-prev,
.carousel-2 .owl-nav .owl-prev:hover {
  left: 0;
}
.carousel-2 .owl-nav .owl-next,
.carousel-2 .owl-nav .owl-next:hover {
  right: 0;
}
// mob
.carousel-mob .owl-nav .owl-prev,
.carousel-mob .owl-nav .owl-next {
  position: absolute;
  cursor: pointer;
  font-size: 60px !important;
  color: $lightOrange !important;
  top: 0;
  height: 100%;
  width: 70px;
  transition: opacity $transition;
  opacity: 0.6;
  margin: 0;
  padding: 0;
  @include desktop {
    display: none;
  }
}
.carousel-mob .owl-nav .owl-prev:hover,
.carousel-mob .owl-nav .owl-next:hover {
  background-color: transparent;
  opacity: 0.2;
}
.carousel-mob .owl-nav .owl-prev,
.carousel-mob .owl-nav .owl-prev:hover {
  left: 0;
}
.carousel-mob .owl-nav .owl-next,
.carousel-mob .owl-nav .owl-next:hover {
  right: 0;
}
.carousel-mob .owl-dots.disabled,
.carousel-mob .owl-nav.disabled {
  @include desktop {
    display: none;
  }
}

// other
.carousel .owl-nav .owl-prev,
.carousel .owl-nav .owl-next {
  position: absolute;
  cursor: pointer;
  font-size: 60px !important;
  color: $desertStorm !important;
  top: 0;
  height: 100%;
  width: 70px;
  transition: opacity $transition;
  //   opacity: 0.7;
  margin: 0;
  padding: 0;
}
.carousel .owl-nav .owl-prev:hover,
.carousel .owl-nav .owl-next:hover {
  opacity: 0.4;
  background-color: transparent;
}
.carousel .owl-nav .owl-prev,
.carousel .owl-nav .owl-prev:hover {
  left: 0;
}
.carousel .owl-nav .owl-next,
.carousel .owl-nav .owl-next:hover {
  right: 0;
}
