.team {
  background: $desertStorm;
  .container {
    padding-bottom: 130px;
    position: relative;
    padding-top: 64px;
  }
  img {
    border-radius: 24px;
  }
}
.team-star-1 {
  display: none;

  @include tablet {
    display: block;
    position: absolute;
    top: 0;
    left: 0px;
  }
  @include desktop-2 {
    left: 0px;
  }
}
.team-star-2 {
  position: absolute;
  bottom: 0;
  right: 0px;
  @include desktop {
    bottom: 0;
    right: 0px;
  }
  @include desktop-2 {
    right: 0;
  }
}
.team-title {
  font-family: 'Oranienbaum';
  @include text-base(400, 72px, 0.85);
  text-align: center;
  letter-spacing: -0.015em;
  margin-bottom: 15px;
}
.team-desk {
  @include text-base(null, 20px, 1.4);
  text-align: center;
  color: $lightGreen;
  margin-bottom: 64px;
}
.team-about {
  position: absolute;
  bottom: 70px;
  background: $bgColor;
  border-radius: 24px;
  width: 127%;
  min-width: 230px;
  max-width: 316px;
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: auto;
  @include mobile {
    width: 110%;
    max-width: 200%;
  }
  @include tablet {
    width: 114%;
  }
  @include desktop {
    width: 100%;
  }
}
.team-name {
  font-family: 'Montserrat';
  @include text-base(null, 20px, 1.4);
  color: $lightBlack;
  margin-bottom: 10px;
}
.about-her {
  @include text-base(null, 15px, 1.4);
  color: $lightBlack;
  margin-bottom: 30px;
}
.team-btn {
  @include text-base(700, 15px, 1.4);
  background: $lightOrange;
  padding: 7px 44px;
}
.team-link {
  width: 320px;
}
.team-mob-about {
  position: absolute;
  bottom: 0px;
  background: $bgColor;
  border-radius: 24px;
  width: 100%;
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  @include mobile {
  }
}
.carousel-mob {
  img {
    height: 270px;
  }
  .owl-item {
    @include desktop {
      display: none;
    }
  }
}
.carousel-mob .owl-nav .owl-prev,
.carousel-mob .owl-nav .owl-next {
  position: absolute;
  cursor: pointer;
  font-size: 60px !important;
  color: #fff !important;
  top: 0;
  height: 100%;
  width: 70px;
  transition: 0.3s opacity ease;
  opacity: 0.6;
  margin: 0;
  padding: 0;
  @include desktop {
    display: none;
  }
}
.carousel-mob .owl-nav .owl-prev:hover,
.carousel-mob .owl-nav .owl-next:hover {
  opacity: 1;
}
.carousel-mob .owl-nav .owl-prev,
.carousel-mob .owl-nav .owl-prev:hover {
  left: 0;
}
.carousel-mob .owl-nav .owl-next,
.carousel-mob .owl-nav .owl-next:hover {
  right: 0;
}
.carousel-mob .owl-dots.disabled,
.carousel-mob .owl-nav.disabled {
  @include desktop {
    display: none;
  }
}
