.header {
  background: $desertStorm;
  .container {
    display: flex;
    justify-content: space-between;
    padding-top: 22px;
    align-items: center;
  }
}
.header-logo {
  fill: transparent;
}
.ua-en-list {
  display: none;
  @include desktop {
    display: flex;
    gap: 20px;
    :nth-last-child(1) {
      ::after {
        display: none;
      }
    }
  }
}
.ua-en-item {
  position: relative;
  ::after {
    content: '';
    position: absolute;
    height: 100%;
    width: 2px;
    bottom: 0;
    right: -12px;
    background-color: $lightBlack;
    border-radius: 25%;
  }
}
.en-ua-link {
  transition: color $transition;
  @include text-base(null, 13px, 1.4);
  color: $lightBlack;
  &:hover,
  &:focus {
    color: $lightOrange;
  }
}
.menu-open-btn {
  background-color: transparent;
  border: transparent;
  align-items: center;
  display: flex;
  z-index: 1;
  @include desktop {
    display: none;
  }
}
.open-menu-icon {
  fill: $lightOrange;
}

// мобільне меню
.ua-en-list-mob {
  display: flex;
  gap: 20px;
  :nth-last-child(1) {
    ::after {
      display: none;
    }
  }
}
.ua-en-item-mob {
  position: relative;
  ::after {
    content: '';
    position: absolute;
    height: 100%;
    width: 2px;
    bottom: 0;
    right: -12px;
    background-color: $lightBlack;
    border-radius: 25%;
  }
}
.en-ua-link-mob {
  @include text-base(null, 25px, 1.4);
  color: $lightBlack;
}
.header__menu__mobile {
  position: fixed;
  z-index: 122;
  background-color: $desertStorm;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  @include desktop {
    display: none;
  }
}
.menu__close {
  position: absolute;
  border: transparent;
  background-color: transparent;
  border-radius: 50%;
  padding: 10px 10px;
  top: 22px;
  right: 15px;
  display: flex;
  align-items: center;
}
.menu__close__icon {
  fill: $lightOrange;
  transition: fill $transition;
  .menu__close:focus & {
    fill: $lightRed;
  }
}
.js-menu-container {
  padding-top: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
}
.header-menu-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.header-menu-link-nav {
  padding: 15px 0;
  @include text-base(null, 20px, 1.4);
  color: $lightBlack;
  text-transform: uppercase;
  transition: color $transition;
  &:focus {
    color: $lightOrange;
  }
}
.menu__enroll__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.header-menu-link {
  @include text-base(null, 20px, 1.4);
  color: $lightBlack;
}
.header-call-btn-mob {
  @include text-base(null, 25px, 1.4);
  width: 200px;
  height: 50px;
  background-color: $lightOrange;
  color: $desertStorm;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header-btn-mob {
  @include text-base(null, 25px, 1.4);
  width: 200px;
  height: 50px;
  background-color: $lightRed;
  color: $desertStorm;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* -------------------------------------------------------------------------- */
.header-wrap {
  display: none;
  @include desktop {
    display: flex;
    align-items: center;
  }
}
.header-list {
  display: flex;
  gap: 32px;
  margin-right: 64px;
}
.header-link {
  transition: color $transition;
  &:hover,
  &:focus {
    color: $lightOrange;
  }
  @include text-base(null, 15px, 1.4);
  color: $lightBlack;
  @include desktop {
    @include text-base(null, 12px, 1.4);
    padding-top: 4px;
  }
}
.header-icon-phone {
  fill: $lightBlack;
  transition: fill $transition;
  .header-link:hover &,
  .header-link:focus & {
    fill: $lightOrange;
  }
}
.enroll-info-header {
  display: flex;
  gap: 15px;
  align-items: center;
}
.header-btn {
  width: 137px;
  @include text-base(null, 15px, 1.4);
  height: 33px;
  background-color: $lightRed;
  color: $desertStorm;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  @include desktop-2 {
    padding-top: 2px;
  }
}
.header-call-btn {
  background-color: $lightOrange;
}
.another {
  @include desktop-2 {
    padding-top: 2px;
  }
}
.header-icon-phone-2 {
  fill: $desertStorm;
  margin-left: 4px;
}
.ua {
  color: $lightOrange;
}
.en {
  color: $lightOrange;
}
