.mini-portfolio {
  background-color: $bgColor;
  .container {
    padding-top: 64px;
    padding-bottom: 100px;
  }
  img {
    border-radius: 25px;
  }
}
.mini-portfolio-title {
  font-family: 'Oranienbaum';
  @include text-base(400, 42px, 0.85);
  text-align: center;
  letter-spacing: -0.015em;
  margin: 0 auto 64px;
  @include desktop {
    @include text-base(400, 62px, 0.85);
    max-width: 585px;
  }
}
.mini-wrap {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
