.team {
  background: $desertStorm;
  .container {
    padding-bottom: 100px;
    position: relative;
    padding-top: 64px;
  }
  img {
    border-radius: 24px;
  }
}
.team-star-1 {
  display: none;

  @include tablet {
    display: block;
    position: absolute;
    top: 0;
    left: 0px;
  }
  @include desktop-2 {
    left: 0px;
  }
}
.team-star-2 {
  position: absolute;
  bottom: 0;
  right: 0px;
  @include desktop {
    bottom: 0;
    right: 0px;
  }
  @include desktop-2 {
    right: 0;
  }
}
.team-title {
  font-family: 'Oranienbaum';
  @include text-base(400, 72px, 0.85);
  text-align: center;
  letter-spacing: -0.015em;
  margin-bottom: 15px;
}
.team-desk {
  @include text-base(null, 20px, 1.4);
  text-align: center;
  color: $lightGreen;
  margin-bottom: 64px;
}

.team-name {
  font-family: 'Montserrat';
  @include text-base(null, 20px, 1.4);
  color: $lightBlack;
  margin-bottom: 10px;
}
.about-her {
  @include text-base(null, 15px, 1.4);
  color: $lightBlack;
  margin-bottom: 30px;
}
.team-btn {
  @include text-base(700, 15px, 1.4);
  background: $lightOrange;
  padding: 7px 44px;
}
.team-link {
  width: 320px;
}
.team-mob-about {
  position: absolute;
  bottom: 0px;
  background: $bgColor;
  border-radius: 24px;
  width: 100%;
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
.team-mobile-slider {
  img {
    min-height: 270px;
  }
}

.team-holder {
  position: relative;
  overflow: hidden;
}
.team-about {
  position: absolute;
  transform: translateY(100%);
  overflow: auto;
  background: $bgColor;
  border-radius: 24px;
  width: 100%;
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  transition: transform $transition;
  .item:hover &,
  .item:focus & {
    transform: translateY(-100%);
  }
}
